.header {
    display: flex;
    width: 100vw;
    height: 15vh;
    padding: 0 1rem;
    background-color: aquamarine;

    .container__header {
        display: flex;
        width: 100vw;
        justify-content: space-between;
        align-items: center;

        .container__menuDesktop ul{
            display: none;
        }
    }
}

.menu {
    width: 100vw;
    height: 100vh;
    background-color: antiquewhite;
    position: absolute;

    ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3rem;
        margin: 4rem 0 0 0;
    }
}

.menu__disabled {
    display: none;
}


/* Desktop */
@media(min-width: 1440px) {
    .container__btnMenuBurger {
        display: none;
    }

    .header{
        .container__header {
            justify-content: center;
            gap: 8rem;
            .container__menuDesktop ul{
                display: flex;
                list-style: none;
                gap: 1rem;
            }
        }
    }
}

